@charset "UTF-8";

html { 
	background-color: white;
	align-content: center;
	text-align: center;
}

body {
	background-color: white;
	text-align: center;
}

h1 {
	font-size: 20pt;
	font-family:  Arial Black;
	color: red;
	font-weight: bold;
	line-height: 50pt;
}

#numOfPlayers
{
	width:150px;
	display:inline;	
}

.field {
	background-image: url("soccerfieldColor.png");
	width: 360px;
	height: 360px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	z-index: 1;
}

.grid-container {
	display: grid;
	width: 360px;
	height: 360px;
	position: relative;
	z-index: 1;
}
.grid-container>div {
  font-size: calc(80% + 1vw + 1vh);
}

.goalie {
	background-color: orange !important;
	width: 50px;
	height: 50px;
}

.fieldPlayer{
	z-index:3;
	position: absolute;
	text-align: center;
	width: 50px;
	height: 50px;
	background-color: gray;
	touch-action: none;
	user-select: none;
}

.availablePlayers{
	background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
	z-index: 0;
}

.showing{
    z-index:10;
}

.availablePlayers .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.onFieldLoadPlayers {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 95%;
    position: relative;
    border-radius: 8px;
}
